* {
    box-sizing: border-box;
}

html {
    margin: 0%;
    padding: 0%;
    font-size: 16px;
    /* background-color: #a4a9ad1c; */
}

body {
    /* border: 1px solid #808080; */
    margin: 0%;
    padding: 0%;
    width: 100%;
    font-family: 'Sen', sans-serif;
}

main.main {
    /* border: 5px solid #1506e7; */
    padding: 0%;
    max-width: 100%;
    width: 100%;
    display: grid;
    /* flex-flow: row; */
    grid-template-columns: 6% 94%;
    /* column-gap: 20px; */
    background-color: transparent;
}

.title-section {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #404040;
}

.title-section>h2 {
    margin: 0%;
    font-weight: 500;
}

.title-section>span {
    margin-top: 3px;
    /* font-weight: bold; */
}


/*SIDEbar*/

main.main>.sidebar {
    /* border: 3px solid #e704049b; */
    border-right: 1px solid #c3c3c39b;
    grid-column: 1/2;
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    gap: 5px;
    width: max-content;
    padding: 32px 10px 10px 25px;
    height: 90vh;
    z-index: 3;
    position: sticky;
    top: 0px;
    /* height: max-content; */
}

main.main>.sidebar>.head {
    /* border: 1px solid #808080; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

main.main>.sidebar>.head>.logo {
    /* border: 1px solid #808080; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 8px;
}

main.main>.sidebar>.head>.logo>.logo-image {
    /* border: 1px solid #808080; */
    width: 23px;
    height: 23px;
    /* display: none; */
    margin-left: -5px;
}

main.main>.sidebar>.head>.logo>.logo-image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

main.main>.sidebar>.head>.logo>.app-name {
    color: #08b86f;
    font-size: 1.3rem;
    font-weight: bold;
    display: none;
}

main.main>.sidebar>.head>.controls {
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    display: none;
}

main.main>.sidebar>.head>.controls>span {
    display: inline-block;
    margin-top: 4px;
    font-size: 1.5rem;
    color: #808080;
    cursor: pointer;
}

main.main>.sidebar>.head>.controls>span:hover {
    color: #08b86f;
}

main.main>.sidebar>.menu {
    border-top: 1px solid #c3c3c39b;
    border-top-style: dashed;
    margin: 0%;
    /* padding: 0%; */
    padding: 15px 0% 10px 0%;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

main.main>.sidebar>.main-menu {
    border-top: none;
}

main.main>.sidebar>.menu>.title {
    display: none;
    font-size: 0.8rem;
    font-weight: bold;
    color: #404040c6;
    text-transform: uppercase;
}

main.main>.sidebar>.menu>ul.menu-items {
    display: flex;
    flex-flow: column;
    gap: 8px;
    margin: 0%;
    padding: 0%;
    /* padding: 0% 0% 0% 10px; */
    list-style-type: none;
}

main.main>.sidebar>.menu>ul.menu-items>.item {
    /* border: 1px solid #bb0c0c; */
    color: #808080;
    position: relative;
    /* margin: 5px; */
    height: max-content;
    display: flex;
    align-items: center;
    padding-left: 4px;
    width: 30px;
    height: max-content;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main.main>.sidebar>.menu>ul.menu-items>.selected {
    color: #08b86f;
    background-color: #099eef18;
}

main.main>.sidebar>.menu>ul.menu-items>.selected>.line {
    display: inline-block;
    background-color: #08b86f;
    left: -10px;
    position: absolute;
    top: 17%;
    height: 70%;
    width: 4px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

main.main>.sidebar>.menu>ul.menu-items>.item>a.item-link {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 3px 0px;
    gap: 10px;
    text-decoration: none;
    /* color: #808080; */
    color: inherit;
}

main.main>.sidebar>.menu>ul.menu-items>.item>a.item-link>span.icli {
    font-size: 1.2rem;
    /* color: #808080; */
    display: inline-block;
    color: inherit;
}

main.main>.sidebar>.menu>ul.menu-items>.item>a.item-link>.link-text {
    border: 1px solid #c3c3c39b;
    display: none;
    background-color: #ffffff;
    font-size: 1rem;
    padding: 2px 0px;
    width: max-content;
    height: max-content;
    /* position: relative; */
    color: inherit;
    left: 33px;
    position: absolute;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.sidebar>.menu>ul.menu-items>.selected>a.item-link>.link-text {
    left: 40px;
}

main.main>.sidebar>.menu>ul.menu-items>.item>a.item-link>.link-text>span.arrow {
    display: inline-block;
    border-left: 1px solid #c3c3c39b;
    border-bottom: 1px solid #c3c3c39b;
    background-color: #ffffff;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -5px;
    top: 7.5px;
    rotate: 45deg;
    /* z-index: -1; */
}

main.main>.sidebar>.menu>ul.menu-items>.item>a.item-link>.link-text>span.text {
    /* border: 1px solid #c71c1c9b; */
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    text-align: center;
    background-color: #ffffff;
}

main.main>.sidebar>.menu>ul.menu-items>.item>a.item-link:hover {
    color: #08b86f;
}

main.main>.sidebar>.menu>ul.menu-items>.item>a.selected {
    color: #08b86f;
}

main.main>.sidebar>.menu>ul.menu-items>.item>a.logout:hover {
    color: #fb482c;
}


/*Section>Shorts*/

section.shorts {
    /* border: 1px solid #13b2139b; */
    border-top: 1px solid #8080804f;
    grid-column: 1/3;
    background-color: #ffffff;
    position: sticky;
    bottom: 0;
    z-index: 5;
    padding: 10px 70px 15px 20px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 0;
}

section.shorts>.title-section {
    display: none;
}

section.shorts>.shorts-items {
    /* border: 1px solid #808080; */
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 15px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

section.shorts>.shorts-items::-webkit-scrollbar {
    display: none !important;
    visibility: hidden;
}

section.shorts>.shorts-items>a.short {
    /* border: 1px solid #808080; */
    text-decoration: none;
    color: #808080;
    /* width: max-content; */
    display: flex;
    flex-flow: column;
    align-items: center;
    width: max-content;
    gap: 3px;
}

section.shorts>.shorts-items>a.create>.username {
    /* border: 1px solid #808080; */
    font-size: 0.9rem;
    width: 80px;
    text-align: center;
}

section.shorts>.shorts-items>a.short>.image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    background: linear-gradient(-80deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 250% 250%;
    animation: short 15s ease infinite;
    -webkit-animation: short 15s ease infinite;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

@keyframes short {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

section.shorts>.shorts-items>a.short>.image>.container {
    background-color: #ffffff;
    width: 93%;
    height: 93%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

section.shorts>.shorts-items>a.create>.image {
    border: none;
    background: unset;
}

section.shorts>.shorts-items>a.short>.image>.container>img {
    width: 88%;
    height: 88%;
    object-fit: cover;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

section.shorts>.shorts-items>a.short>.image>.add {
    background-color: #ffffff;
    width: 24px;
    height: 24px;
    position: absolute;
    bottom: 4px;
    right: 2px;
    display: flex;
    justify-content: center;
    padding: 3px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

section.shorts>.shorts-items>a.short>.image>.add>.plus {
    position: relative;
    display: flex;
    width: 18px;
    height: 18px;
    /* padding: 3px; */
    align-items: center;
    justify-content: center;
    background-color: #08b86f;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

section.shorts>.shorts-items>a.short>.image>.add>.plus>span {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 1.2px;
    z-index: 6;
    background-color: #ffffff;
}

section.shorts>.shorts-items>a.short>.image>.add>.plus>span.one {
    rotate: 90deg;
}

section.shorts>.shorts-items>a.short>.username {
    font-size: 0.9rem;
}

section.shorts>.scroll {
    /* border: 1px solid #13b2139b; */
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    background-color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    position: absolute;
    bottom: 15px;
    top: 0px;
    right: 10px;
    display: flex;
    align-items: center;
    /* height: max-content; */
    padding: 8px;
    padding-left: 20px;
}

section.shorts>.scroll>span {
    /* border: 1px solid #c3c3c39b; */
    /* box-shadow: 0 1px 25px rgba(109, 117, 141, 0.363); */
    padding: 0px;
    font-size: 3.5rem;
    color: #08b86f;
    font-weight: bold;
    /* background-color: #ffffff; */
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}


/*Content*/

main.main>.content {
    /* border: 1px solid #13b2139b; */
    display: flex;
    flex-flow: column;
    gap: 20px;
    width: 100%;
    padding: 0px 25px 0px 0px;
    margin: 0%;
    position: relative;
}

main.main>.content>.header {
    /* border: 1px solid #ee0404; */
    z-index: 5;
    position: sticky;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: #ffffffce;
    top: 0px;
    width: 100%;
    padding: 25px 0px 10px 5px;
    height: max-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    /* width: max-content; */
}

main.main>.content>.header>.icons,
main.main>.content>.header>.rel-items {
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

main.main>.content>.header>.rel-items {
    /* border: 1px solid #8080804f; */
    height: 35px;
    width: 73%;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    position: relative;
}

main.main>.content>.header>.rel-items::-webkit-scrollbar {
    display: none !important;
    visibility: hidden;
}

main.main>.content>.header>.rel-items>.item {
    /* border: 1px solid #808080; */
    /* height: 30px; */
    display: flex;
    width: max-content;
    align-items: center;
}

main.main>.content>.header>.rel-items>.item>a.item-link {
    text-decoration: none;
    background-color: rgba(57, 56, 56, 0.087);
    color: #808080;
    font-size: 1.0rem;
    padding: 5px 14px;
    height: max-content;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

main.main>.content>.header>.rel-items>.item>a.active {
    color: #08b86f;
    background-color: #099eef18;
}

main.main>.content>.header>.rel-items>.item>a.add {
    /* border: 1px solid #808080; */
    margin: 0px;
    padding: 10px 0px 10px 0px;
    background-color: transparent;
    /* background-color: rgba(57, 56, 56, 0.087); */
    display: flex;
    position: relative;
}

main.main>.content>.header>.rel-items>.item>a.add>span {
    display: inline-block;
    background-color: #808080;
    width: 12px;
    height: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

main.main>.content>.header>.rel-items>.item>a.add>span.one {
    position: absolute;
    rotate: 90deg;
}

main.main>.content>.header>.rel-items>li.scroll {
    position: sticky;
    /* border: 1px solid #808080; */
    right: 0px;
    top: 0px;
    padding-top: 5px;
    padding-left: 10px;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
    background-color: #ffffff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.main>.content>.header>.rel-items>li.scroll>span.icli {
    /* border: 1px solid #808080; */
    font-size: 1.8rem;
    color: #08b86f;
    font-weight: bold;
    cursor: pointer;
}

main.main>.content>.header>.icons {
    border-left: 1px solid #8080804f;
    /* border: 1px solid #8080804f; */
    width: 23%;
    display: flex;
    justify-items: flex-end;
    justify-content: flex-end;
}

main.main>.content>.header>.icons>.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

main.main>.content>.header>.icons>.icon>.icon-link {
    text-decoration: none;
    color: #808080;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.main>.content>.header>.icons>.icon>.icon-link:hover {
    color: #08b86f;
}

main.main>.content>.header>.icons>.icon>.icon-link>span.icli {
    font-size: 1.35rem;
}

main.main>.content>.header>.icons>.profile {
    cursor: pointer;
    width: max-content;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #c3c3c39b;
    padding: 0px 5px 0px 0px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

main.main>.content>.header>.icons>.profile>.image-section {
    /* border: 1px solid #c3c3c39b; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 5px;
}

main.main>.content>.header>.icons>.profile>.image-section>.image {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

main.main>.content>.header>.icons>.profile>.image-section>.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px
}

main.main>.content>.header>.icons>.profile>.image-section>span.icli {
    color: #808080;
    font-size: 1.2rem;
}


/* Main Section */

main.main>.content>.content-container {
    width: 100%;
    padding: 0;
    /* border: 1px solid #ec0808; */
    display: grid;
    grid-template-columns: 75% 21%;
    column-gap: 4%;
}
main.main>.content>.main{
    grid-template-columns: 66% 30%;
}

main.main>.content>.content-container>.main-section {
    /* border: 1px solid #808080; */
    margin: 0%;
    display: flex;
    flex-flow: column;
    gap: 30px;
    padding-bottom: 30px;
}

main.main>.content>.content-container>.main-section>.featured-comic {
    /* border: 1px solid #c3c3c39b; */
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 10px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.title-section>span.icli,
main.main>.content>.content-container>.main-section>.featured-comic>.title-section>span.icli {
    /*color: rgb(255, 136, 0);*/
    font-weight: bold;
    color: transparent;
    background: linear-gradient(-140deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 10s ease infinite;
    -webkit-animation: gradient 10s ease infinite;
    background-clip: text;
}

main.main>.content>.content-container>.main-section>.featured-comic>.title-section,
main.main>.content>.content-container>.main-section>.featured-hami>.title-section {
    display: none;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured {
    /* border: 1px solid #c3c3c39b; */
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 0%;
    background: linear-gradient(-140deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 20s ease infinite;
    -webkit-animation: gradient 20s ease infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>ul.header {
    display: flex;
    margin: 0%;
    padding: 15px 30px 0px 30px;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>ul.header>li {
    margin: 0%;
    padding: 0%;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>ul.header>li.item>a.item-link {
    text-decoration: none;
    color: #e5e2e2;
    padding: 4px 15px;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>ul.header>li.item>a.selected {
    background-color: rgba(224, 219, 219, 0.316);
    border-top: 1px solid #a7e4cb;
    color: #ffffff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>ul.header>li.item>a.item-link:hover {
    color: #ffffff;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content {
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 0px 20px 15px 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.name {
    display: flex;
    flex-flow: column;
    gap: 0px;
    /* text-transform: uppercase; */
    font-weight: bold;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.name>.top {
    font-size: 0.95rem;
    color: #f9f9f9;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.name>.main {
    font-size: 1.8rem;
    color: #ffffff;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.info {
    display: flex;
    align-items: center;
    gap: 10px;
    /* color: #404040; */
    color: #f0eaea;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.info>.age {
    padding: 2px 8px 2px 8px;
    background-color: rgba(224, 219, 219, 0.316);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.description {
    color: #e7e4e4;
    /* width: 70%; */
    margin: 0%;
    line-height: 1.4;
    margin-top: 10px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.footer,
main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.footer>.left-items,
main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.footer>.left-items {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 68%;
    gap: 30px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.footer>.left-items>a,
main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.footer>.left-items>a {
    padding: 5px 15px;
    font-size: 1.05rem;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    text-transform: capitalize;
    /* background-color: #08b86f; */
    background-color: rgb(255, 136, 0);
    color: #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.footer>.left-items>a.add-to,
main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.footer>.left-items>a.add-to {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* background-color: rgb(255, 136, 0); */
    background-color: rgba(224, 219, 219, 0.316);
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.footer>.left-items>a.add-to>.plus,
main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.footer>.left-items>a.add-to>.plus {
    position: relative;
    display: flex;
    align-items: center;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.footer>.left-items>a.add-to>.plus>span,
main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.footer>.left-items>a.add-to>.plus>span {
    display: inline-block;
    width: 14px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.footer>.left-items>a.add-to>.plus>span.left,
main.main>.content>.content-container>.main-section>.featured-comic>.featured>.featured-content>.footer>.left-items>a.add-to>.plus>span.left {
    position: absolute;
    rotate: 90deg;
}


main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues {
    position: absolute;
    width: 310px;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding-bottom: 50px;
    backdrop-filter: blur(19px);
    -webkit-backdrop-filter: blur(19px);
    box-shadow: 0 1px 25px rgba(109, 117, 141, 0.1);
    display: none;
    flex-flow: column;
    gap: 20px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues::-webkit-scrollbar {
    display: none !important;
    visibility: hidden;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.scroll-btn {
    position: sticky;
    bottom: -35px;
    right: 20px;
    left: 20px;
    height: max-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    opacity: 1;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.scroll-btn>.scroll {
    padding: 3px 18px 3px 12px;
    cursor: pointer;
    background-color: #ffffffe4;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #23a6d5;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-items: center;
    gap: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.scroll-btn>.scroll>span {
    display: inline-block;
    font-size: 1.7rem;
    margin-top: 0px;
    opacity: 1;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.scroll-btn>.scroll>.scroll-text {
    font-size: 1.1rem;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.header {
    /* background-color:  #ffffff66; */
    backdrop-filter: blur(19.6px);
    -webkit-backdrop-filter: blur(19.6px);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.header>.title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.header>.cancel {
    position: relative;
    cursor: pointer;
    background-color: #f84125;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.header>.cancel>span {
    background-color: #ffffff;
    /* background-color:  #f84125; */
    width: 12px;
    height: 3px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.header>.cancel>span.right {
    position: absolute;
    rotate: 45deg;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.header>.cancel>span.left {
    position: absolute;
    rotate: -45deg;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.plus {
    display: flex;
    background-color: #ffffff12;
    flex-flow: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.plus>.text {
    font-size: 1rem;
    color: #ffffff;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.plus>a {
    padding: 5px 15px;
    font-size: 0.98rem;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
    text-transform: capitalize;
    /*background-color: #08b86f; */
    background-color: rgb(255, 136, 0);
    color: #ffffff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.issue {
    padding: 8px 10px;
    background-color: #ffffff12;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    gap: 10px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.issue>.image {
    width: 75px;
    height: 100px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.issue>.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 1px 25px rgba(109, 117, 141, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.issue>.content {
    display: flex;
    flex-flow: column;
    gap: 5px;
    /* color: #ffffff; */
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.issue>.content>p.title {
    margin: 0%;
    padding: 0%;
    font-size: 1.2rem;
    line-height: 1.4;
    color: rgb(255, 255, 255);
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.issue>.content>span.chapter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
    font-size: 0.98rem;
    color: #e7e4e4;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.issue>.content>span.chapter>.dot {
    display: inline-block;
    width: 5px;
    height: 5px;
    background-color: #e7e4e4;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.issue>.content>span.rating {
    display: flex;
    gap: 3px;
    align-items: center;
    font-size: 0.95rem;
    color: #e7e4e4;
}

main.main>.content>.content-container>.main-section>.featured-comic>.featured>.issues>.issue>.content>span.rating>.icli {
    font-size: 0.95rem;
    font-weight: bold;
}


/*Featured-Hami*/

main.main>.content>.content-container>.main-section>.featured-hami {
    /* border: 1px solid #0022ff; */
    display: flex;
    flex-flow: column;
    gap: 10px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured {
    /* border: 1px solid #80808079; */
    display: flex;
    align-items: center;
    padding: 10px 10px;
    background: linear-gradient(-140deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    animation: gradient 20s ease infinite;
    -webkit-animation: gradient 20s ease infinite;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details {
    width: 65%;
    /* border: 1px solid #808080; */
    padding: 0px 15px 0px 0px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.cover {
    /* border: 1px solid #808080; */
    align-self: center;
    width: 35%;
    height: 90%;
    position: relative;
    display: flex;
    padding: 30px 15px 10px 15px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.cover>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.cover>.play {
    /* border: 1px solid #48ea03; */
    /* color: #808080; */
    cursor: pointer;
    color: #0ddd86;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.cover>.play:hover {
    /* background-color: rgba(255, 136, 0, 0.127); */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: rgb(255, 136, 0);
    /* color: #08b86f; */
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.cover>.play>span {
    font-size: 3.5rem;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details {
    display: flex;
    flex-flow: column;
    gap: 5px;
    padding: 10px 10px 10px 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.name {
    display: flex;
    flex-flow: column;
    gap: 0px;
    /* text-transform: uppercase; */
    font-weight: bold;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.name>.top {
    font-size: 0.95rem;
    color: #f9f9f9;
    /* color: #404040; */
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.name>.main {
    font-size: 1.8rem;
    color: #ffffff;
    /* color: #404040; */
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.info {
    display: flex;
    align-items: center;
    gap: 10px;
    /* color: #404040; */
    color: #f0eaea;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.info>.age {
    padding: 2px 8px 2px 8px;
    background-color: rgba(224, 219, 219, 0.397);
    /* color: #808080; */
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.main-section>.featured-hami>.featured>.details>.description {
    color: #e7e4e4;
    /* color: #404040; */
    margin: 0%;
    line-height: 1.4;
    margin: 0%;
    margin-top: 10px;
    padding: 0px;
}


/*Top-Comics*/

main.main>.content>.content-container>.top-comics {
    /* border: 1px solid #0022ff; */
    margin: 0;
    grid-row: auto;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    /* align-items: center; */
    justify-content: space-between;
    gap: 10px;
    position: sticky;
    top: 90px;
    height: 71vh;
    /* justify-self: end; */
    margin-bottom: 10px;
}

main.main>.content>.content-container>.top-comics>.title-section {
    display: none;
}

main.main>.content>.content-container>.top-comics>.stats {
    /* align-self: flex-start; */
    border-left: 1px solid #8080804f;
    padding-left: 30px;
    justify-self: flex-end;
    display: flex;
    flex-flow: column;
    gap: 25px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main.main>.content>.content-container>.top-comics>.stats::-webkit-scrollbar {
    display: none !important;
    visibility: hidden;
}

main.main>.content>.content-container>.top-comics>.stats>.stat {
    border-radius: 10px;
    background-color: rgba(57, 56, 56, 0.087);
    color: #808080;
    text-decoration: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 5px;
    padding: 10px 15px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main.main>.content>.content-container>.top-comics>.stats>.stat:hover {
    background-color: #099eef18;
    color: #08b86f;
}

main.main>.content>.content-container>.top-comics>.stats>.stat>.icon {
    font-size: 2.3rem;
    /* color: #808080; */
    color: inherit;
}

main.main>.content>.content-container>.top-comics>.stats>.stat>.no {
    font-size: 1.3rem;
    font-weight: bold;
    /* color: #404040; */
    color: inherit;
}

main.main>.content>.content-container>.top-comics>.stats>.stat>.name {
    color: #808080;
    /* color: inherit; */
}

main.main>.content>.content-container>.top-comics>.stats>.stat>.short {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: #099eef18;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

main.main>.content>.content-container>.top-comics>.stats>.stat>.short>.inner {
    /* background-color: #eeba0e; */
    display: inline-block;
    width: 22px;
    height: 22px;
    border: 2px dotted #808080;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

main.main>.content>.content-container>.top-comics>.comics {
    display: flex;
    flex-flow: column;
    gap: 25px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    /* position: relative; */
}

main.main>.content>.content-container>.top-comics>.comics::-webkit-scrollbar {
    display: none !important;
    visibility: hidden;
}

main.main>.content>.content-container>.top-comics>.comics>.scroll-btn {
    /* position: sticky; */
    position: absolute;
    bottom: -15px;
    right: 0px;
    left: 0px;
    height: max-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-items: center;
    opacity: 1;
    z-index: 5;
}

main.main>.content>.content-container>.top-comics>.comics>.scroll-btn>.scroll {
    padding: 3px 18px 3px 12px;
    cursor: pointer;
    background-color: #79baf041;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    color: #23a6d5;
    display: flex;
    flex-flow: row;
    align-items: center;
    /*justify-items: center;
    */
    justify-content: center;
    gap: 5px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main.main>.content>.content-container>.top-comics>.comics>.scroll-btn>.scroll>span {
    display: inline-block;
    font-size: 1.7rem;
    margin-top: 0px;
    opacity: 1;
}

main.main>.content>.content-container>.top-comics>.comics>.scroll-btn>.scroll>.scroll-text {
    font-size: 1.1rem;
}

main.main>.content>.content-container>.top-comics>.comics>.issue {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    align-items: flex-start;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.image {
    width: 80px;
    height: 100px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.content {
    /* border: 1px solid #c3c3c39b; */
    padding: 2px 0px;
    display: flex;
    flex-flow: column;
    gap: 5px;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.content>p.title {
    margin: 0%;
    color: #404040;
    font-size: 1.05rem;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.content>.chapter {
    color: #808080;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.9rem;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.content>.chapter>.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #808080;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.content>.rating {
    display: flex;
    gap: 5px;
    align-items: center;
    color: #808080;
    font-size: 0.9rem;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.content>.rating>i {
    color: rgb(255, 136, 0);
    font-weight: bold;
    font-size: 0.86rem;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.content>a.author {
    text-decoration: none;
    color: #808080;
    display: flex;
    align-items: center;
    gap: 5px;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.content>a.author:hover {
    color: #08b86f;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.content>a.author>.text {
    text-transform: capitalize;
}

main.main>.content>.content-container>.top-comics>.comics>.issue>.content>a.author>.icli {
    margin-top: 0px;
}


/*Latest-Comics*/

main.main>.content>.content-container>.main-section>.latest-comics {
    /* border: 3px solid #04dff7; */
    display: flex;
    flex-flow: column;
    gap: 10px;
    height: max-content;
    padding: 0px;
    position: relative;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics {
    /* border: 1px solid #ea0b0b9b; */
    /* width: 80%; */
    display: flex;
    flex-flow: row;
    gap: 30px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics::-webkit-scrollbar {
    display: none !important;
    visibility: hidden;
}


main.main>.content>.content-container>.main-section>.latest-comics>.right {
    /* border: 1px solid #48ea03; */
    /* background-color: #ffffff; */
    background-color: #ffffffcc;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-decoration: none;
    padding: 5px;
    position: absolute;
    right: -20px;
    top: 0%;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.main>.content>.content-container>.main-section>.latest-comics>.left {
    /* border: 1px solid #48ea03; */
    /* background-color: #ffffff; */
    background-color: #ffffffcc;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-decoration: none;
    padding: 5px;
    position: absolute;
    left: -10px;
    top: 30px;
    bottom: 10px;
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
}

main.main>.content>.content-container>.main-section>.latest-comics>.scroll>span {
    font-size: 2rem;
    color: #08b86f;
    cursor: pointer;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue {
    /* border: 1px solid #c3c3c39b; */
    text-decoration: none;
    width: 250px;
    height: auto;
    padding: 0px;
    display: flex;
    flex-flow: column;
    align-items:center;
    justify-content: space-between;
    gap: 15px;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.image {
    /* border: 1px solid #da1e1e9b; */
    width: 140px;
    height: 180px;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.content {
    width: 100%;
    display: flex;
    flex-flow: column;
    gap: 8px;
    color: #404040;
    padding: 0% 0% 0% 0%;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.content>.title {
    width: 100%;
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    color: #404040;
    gap: 5px;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.content>.title>.iss {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #808080;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.content>.title>.iss>span.dot {
    margin-top: 2px;
    display: none;
    width: 5px;
    height: 5px;
    background-color: #808080;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.content>.title>.chapter {
    color: #808080;
    font-size: 0.95rem;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.content>.title>.no {
    color: #808080;
    font-size: 0.95rem;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.content>.rating {
    /* border: 1px solid #da1e1e9b; */
    display: none;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: stretch;
    gap: 10px;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.content>.rating>.icli {
    font-size: 1.2rem;
    background-color: rgb(255, 136, 0);
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

main.main>.content>.content-container>.main-section>.latest-comics>.comics>.issue>.content>.rating>#half {
    background: linear-gradient(to right, rgb(255, 136, 0) 60%, transparent 40%);
    background-clip: text;
}


/*erukis*/

main.main>.content>.content-container>.main-section>.top-erukis {
    /* border: 1px solid #da1e1e9b; */
    display: flex;
    flex-flow: column;
    gap: 15px;
    position: relative;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis {
    /* border: 1px solid #0000009b; */
    /* width: 80%; */
    display: flex;
    flex-flow: row;
    gap: 30px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis::-webkit-scrollbar {
    display: none !important;
    visibility: hidden;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki {
    /* border: 1px solid #0000009b; */
    display: flex;
    flex-flow: column;
    gap: 10px;
    text-decoration: none;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.image {
    width: 230px;
    height: 120px;
    position: relative;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.image>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.image>.play {
    /* border: 1px solid #48ea03; */
    /* color: #808080; */
    color: #0ddd86;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.image>.play:hover {
    /* background-color: rgba(255, 136, 0, 0.127); */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    color: rgb(255, 136, 0);
    /* color: #08b86f; */
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.image>.play>span {
    font-size: 3.5rem;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.content {
    display: flex;
    flex-flow: column;
    gap: 5px;
    color: #404040;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.content>.creator {
    display: none;
    flex-flow: row;
    gap: 5px;
    align-items: center;
    color: #808080;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.content>.creator>.img {
    /* border: 1px solid #48ea03; */
    width: 23px;
    height: 23px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.content>.creator>.img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.content>.title {
    font-size: 1.01rem;
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.content>.stream {
    /* font-size: 0.9rem; */
    color: #808080;
    display: flex;
    gap: 7px;
    align-items: center;
    /* justify-content: center; */
}

main.main>.content>.content-container>.main-section>.top-erukis>.erukis>.eruki>.content>.stream>.dot {
    display: inline-block;
    margin-top: 2px;
    width: 5px;
    height: 5px;
    background-color: #808080ca;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main.main>.content>.content-container>.main-section>.top-erukis>.right {
    /* border: 1px solid #48ea03; */
    /* background-color: #ffffff; */
    background-color: #fbfdff4b;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-decoration: none;
    padding: 5px;
    position: absolute;
    right: -20px;
    top: 0%;
    bottom: 0px;
    display: none;
    align-items: center;
    justify-content: center;
}

main.main>.content>.content-container>.main-section>.top-erukis>.left {
    /* border: 1px solid #48ea03; */
    /* background-color: #ffffff; */
    background-color: #fbfdff5d;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    text-decoration: none;
    padding: 5px;
    position: absolute;
    left: -10px;
    top: 30px;
    bottom: 10px;
    z-index: 3;
    display: none;
    align-items: center;
    justify-content: center;
}

main.main>.content>.content-container>.main-section>.top-erukis>.scroll>span {
    font-size: 2rem;
    color: #08b86f;
    cursor: pointer;
}


/*Stories-section*/
main.main>.content>.content-container>.main-section>.stories{
    /* border: 1px solid #0693e3; */
    display: flex;
    flex-flow: column;
    gap: 12px;
    margin: 0;
    padding: 0;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper{
    /* border: 1px solid #0693e3; */
    display: flex;
    flex-flow: row;
    gap: 30px;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

main.main>.content>.content-container>.main-section>.stories>.stories-wrapper::-webkit-scrollbar {
    display: none !important;
    visibility: hidden;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story{
    border: 1px solid #c3c3c39b;
    min-width: 350px;
    width: 350px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    padding: 10px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.header{
    /* border: 1px solid #e39606; */
    display: flex;
    flex-flow: column;
    gap: 0px;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.header>h4.title{
    /* border: 1px solid #0693e3; */
    margin: 0;
    font-weight: 500;
    color: #404040;
    font-size: 1.2rem;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.header>a.by{
    text-decoration: none;
    font-size: 0.9rem;
    color: #808080;
    padding-left: 5px;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.header>a.by>.name{
    color: #08b86f;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.description{
    /* border: 1px solid #0693e3;  */
    margin: 0%;
    color: #404040;
    line-height: 1.5;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.footer{
    /* border: 1px solid #0693e3; */
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 3px;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.footer>a.right{
    text-decoration: none;
    font-size: 0.95rem;
    padding: 4px 15px;
    background-color: #0693e3;
    color: #ffffff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.footer>a.left{
    /* border: 1px solid #0693e3; */
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0px;
    color: #808080;
    font-size: 0.93rem;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.footer>a.left:hover{
    color: #08b86f;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.footer>a.left>.profiles{
    /* border: 1px solid #0000fe; */
    width: 55px;
    display: flex;
    align-items: center;
    position: relative;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.footer>a.left>.profiles>.image{
    /* border: 1px solid #fe0000; */
    display: flex;
    width: 23px;
    height: 23px;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.footer>a.left>.profiles>.image:nth-of-type(2){
    /* border: 1px solid #fe0000; */
    position: absolute;
    left: 15px;
    bottom: 0px;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.footer>a.left>.profiles>.image:nth-of-type(3){
    /* border: 1px solid #fe0000; */
    position: absolute;
    left: 28px;
    bottom: 0px;
}
main.main>.content>.content-container>.main-section>.stories>.stories-wrapper>.story>.footer>a.left>.profiles>.image>img{
    /* display: none; */
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}